<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 , user-scalable=0">
    <title>社区服务</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="lib/html5shiv/html5shiv.min.js"></script>
    <script src="lib/respond/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <!--顶部通栏-->
    <header class="sev_topBar hidden-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" class="sev_app">
                        <span class="sev_icon sev_icon_phone"></span>
                        <span>手机微服务</span>
                        <span class="glyphicon glyphicon-menu-down"></span>
                        <img src="images/code.jpg" alt=""/>
                    </a>
                </div>
                <div class="col-md-5">
                    <span class="sev_icon sev_icon_tel"></span>
                    <span>024-2318-2039（服务时间：9:00-20:00）</span>
                </div>
                <div class="col-md-2">
                    <a href="#">意见反馈</a>
                    <a href="#">用户登录</a>
                </div>
                <div class="col-md-3">
                    <a href="#" class="btn btn_register">免费注册</a>
                    <a href="#" class="btn btn-link btn_login">登录</a>
                </div>
            </div>
        </div>
    </header>
    <!--data-spy="affix" 申明是一个顶部固定浮动组件-->
    <nav class="navbar sev_nav"  data-spy="affix" data-offset-top="200">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <span class="glyphicon glyphicon-grain" style='color:red'></span>
                    <span class="glyphicon glyphicon-grain" style='color:green'></span>
                    <span class="glyphicon glyphicon-grain" style='color:yellow'></span>
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#">社区服务</a></li>
                    <li><a href="#">社区活动</a></li>
                    <li><a href="#">政策信息</a></li>
                    <li><a href="#">商务合作</a></li>
                    <li><a href="#">关于我们</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-sm">
                    <li><a href="#">个人中心</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--轮播图-->
    <div class="sev_banner">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">

            </ol>
            <div class="carousel-inner" role="listbox">

            </div>
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--信息区块-->
    <div class="sev_info hidden-xs">
        <div class="container">
            <div class="col-sm-6 col-md-4">
                <a href="#">
                    <div class="media">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-wrench"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">维修服务</h4>
                            <p>冰箱、洗衣机、空调、小家电维修</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#">
                    <div class="media">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-cog"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">生活缴费</h4>
                            <p>轻松缴纳水费、电费、煤气费、话费</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#">
                    <div class="media">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-home"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">家政服务</h4>
                            <p>日常家庭保洁、月嫂、保姆、小时工</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#">
                    <div class="media">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-earphone"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">法律咨询</h4>
                            <p>专人为您推荐贴合需求的律师、提供法律咨询</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#">
                    <div class="media">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">公益慈善</h4>
                            <p>奉献爱心、承担社会责任</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a href="#">
                    <div class="media">
                        <div class="media-left">
                            <span class="glyphicon glyphicon-briefcase"></span>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">健康医疗</h4>
                            <p>筛选最优的资源、提供规范服务</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--预约区块-->
    <div class="sev_book">
        <div class="container">
            <div class="pull-left"><span class="sev_icon sev_icon_clock"></span>专业为您提供最优质的居家服务<a class="sev_book_link" href="#">立即预约 </a></div>
            <div class="pull-right hidden-xs"><a href="#" class="sev_book_video"><span class="sev_icon sev_icon_video"></span>居家服务宣传片</a></div>
        </div>
    </div>
    <!--产品区块-->
    <div class="sev_product">
        <div class="container">
            <div class="nav-tabs-parent" id="iscroll">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#product01" role="tab" data-toggle="tab">特别推荐</a></li>
                    <li role="presentation"><a href="#product02" role="tab" data-toggle="tab">服务简介</a></li>
                    <li role="presentation"><a href="#product03" role="tab" data-toggle="tab">居家动态</a></li>
                    <li role="presentation"><a href="#product04" role="tab" data-toggle="tab">大事记</a></li>
                    <li role="presentation"><a href="#product05" role="tab" data-toggle="tab">网点分布</a></li>
                    <li role="presentation"><a href="#product06" role="tab" data-toggle="tab">人才招聘</a></li>
                    <li role="presentation"><a href="#product07" role="tab" data-toggle="tab">意见反馈</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="product01">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="#" class="sev_product_box active">
                            <div class="box_right">
                                <p><b>快</b></p>
                                <p>服务宗旨</p>
                            </div>
                            <div class="box_left">
                                <h3>快递物流</h3>
                                <div class="col-xs-6">
                                    <p>安全送货</p>
                                    <p>服务到家</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>便捷订购</p>
                                    <p>省去繁琐</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>运送高效</p>
                                    <p>让您安心</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>放心安心</p>
                                    <p>全程保障</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="#" class="sev_product_box">
                            <div class="box_right">
                                <div class="sev_tools">
                                    <span class="red" data-toggle="tooltip" data-placement="top" title="微金宝">沈</span>
                                    <span class="green" data-toggle="tooltip" data-placement="bottom" title="北京市">京</span>
                                </div>
                                <p><b>养</b></p>
                                <p>服务宗旨</p>
                            </div>
                            <div class="box_left">
                                <h3>居家养老</h3>
                                <div class="col-xs-6">
                                    <p>以家庭为核心</p>
                                    <p>以社区为依托</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>解决了社会养老机构不足的困难</p>
                                    <p>调动社会和企业的力量</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>以专业化服务为依靠</p>
                                    <p>服务老年人</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>解决日常生活困难</p>
                                    <p>等问题</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="#" class="sev_product_box">
                            <div class="box_right">
                                <p><b>修</b></p>
                                <p>服务宗旨</p>
                            </div>
                            <div class="box_left">
                                <h3>社区维修服务</h3>
                                <div class="col-xs-6">
                                    <p>冰箱洗衣机</p>
                                    <p>维修</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>马桶下水道</p>
                                    <p>清理</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>小家电保养</p>
                                    <p>维护</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>暖气水电故障</p>
                                    <p>排除</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <a href="#" class="sev_product_box">
                            <div class="box_right">
                                <p><b>省</b></p>
                                <p>服务宗旨</p>
                            </div>
                            <div class="box_left">
                                <h3>家政服务</h3>
                                <div class="col-xs-6">
                                    <p>日常家庭保洁</p>
                                    <p>清理</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>月嫂、小时工等</p>
                                    <p>预约</p>
                                </div>
                                <div class="col-xs-6">
                                    <p>搽玻璃、洗衣服</p>
                                    <p>做饭等</p>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <p>货物搬运、搬家</p>
                                    <p>运输</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="product02">2</div>
                <div role="tabpanel" class="tab-pane" id="product03">3</div>
                <div role="tabpanel" class="tab-pane" id="product04">4</div>
                <div role="tabpanel" class="tab-pane" id="product05">5</div>
                <div role="tabpanel" class="tab-pane" id="product06">6</div>
                <div role="tabpanel" class="tab-pane" id="product07">7</div>
            </div>
        </div>
    </div>
    <!--新闻区块-->
    <div class="sev_news">
        <div class="container">
            <div class="col-md-2 col-md-offset-2">
                <div class="sev_news_title">全部新闻</div>
            </div>
            <div class="col-md-1">
                <div class="sev_news_line hidden-sm hidden-xs"></div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" role="tab" data-toggle="tab"><span class="sev_icon sev_icon_news_01"></span></a></li>
                    <li role="presentation"><a href="#profile" role="tab" data-toggle="tab"><span class="sev_icon sev_icon_news_02"></span></a></li>
                    <li role="presentation"><a href="#messages" role="tab" data-toggle="tab"><span class="sev_icon sev_icon_news_03"></span></a></li>
                    <li role="presentation"><a href="#settings" role="tab" data-toggle="tab"><span class="sev_icon sev_icon_news_04"></span></a></li>
                </ul>
            </div>
            <div class="col-md-7">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <ul class="sev_news_con">
                            <li><a href="#"><span class="hidden-xs">2015-09-21</span>居家服务，让您的家庭生活质量更上一层楼</a></li>
                            <li><a href="#"><span class="hidden-xs">2015-09-25</span>发展居家养老服务，要以科学发展观为统领，以构建社会主义和谐社会为目标</a></li>
                            <li><a href="#"><span class="hidden-xs">2015-09-27</span>不断加大工作力度，积极推动居家养老服务在城市社区普遍展开,同时积极向农村社区推进</a></li>
                            <li><a href="#"><span class="hidden-xs">2015-09-29</span>发展居家养老服务，坚持以人为本。为老年人提供方便、快捷、高质量、人性化的服务</a></li>
                            <li><a href="#"><span class="hidden-xs">2015-10-02</span>坚持依托社区，在社区层面普遍建立居家养老服务机构、场所和服务队伍</a></li>
                            <li><a href="#"><span class="hidden-xs">2015-10-10</span>在我国情况下，养和医是老人两个最基本的需求</a></li>
                            <li><a href="#"><span class="hidden-xs">2015-10-21</span>给急需医疗服务的老年人建立医疗卫生档案，让社区及时掌握他们的健康状况</a></li>
                            <li><a href="#"><span class="hidden-xs">2015-10-27</span>实现网络的全方位覆盖</a></li>
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">2</div>
                    <div role="tabpanel" class="tab-pane" id="messages">3</div>
                    <div role="tabpanel" class="tab-pane" id="settings">4</div>
                </div>
            </div>
        </div>
    </div>
    <!--合作伙伴-->
    <footer class="sev_partner">
        <div class="container">
            <h3 class="text-center">合作伙伴</h3>
            <ul >
                <li><a href="#"><span class="sev_icon sev_icon_partner01"></span></a></li>
                <li><a href="#"><span class="sev_icon sev_icon_partner02"></span></a></li>
                <li><a href="#"><span class="sev_icon sev_icon_partner03"></span></a></li>
                <li><a href="#"><span class="sev_icon sev_icon_partner04"></span></a></li>
                <li><a href="#"><span class="sev_icon sev_icon_partner05"></span></a></li>
                <li><a href="#"><span class="sev_icon sev_icon_partner06"></span></a></li>
                <li><a href="#"><span class="sev_icon sev_icon_partner07"></span></a></li>
                <li><a href="#"><span class="sev_icon sev_icon_partner08"></span></a></li>
                <li><a href="#"><span class="sev_icon sev_icon_partner09"></span></a></li>
            </ul>
        </div>
    </footer>

<script type="text/template" id="template_point">
    <% $.each(list,function(key,val){ %>
        <li data-target="#carousel-example-generic" data-slide-to="<%=key%>" class="<%=key==0?'active':''%>"></li>
    <% }); %>
</script>
<script type="text/template" id="template_image">
    <%$.each(data,function(index,item){%>
        <div class="item <%=index==0?'active':''%>">
            <%if(isM){%>
                <a href="#" class="m_imgBox">
                    <img src="<%=item.mUrl%>" alt=""/>
                </a>
            <%}else{%>
                <a href="#" class="pc_imgBox" style="background-image: url(<%=item.pcUrl%>); "></a>
            <%}%>
        </div>
    <%})%>
</script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/bootstrap/js/bootstrap.js"></script>
<script src="lib/underscore/underscore-min.js"></script>
<script src="lib/iscroll/iscroll.js"></script>
<script src="js/swipe.js"></script>
<script src="js/index.js"></script>
</body>
</html>